Repository Frc5572/FRC2021, pull requests merged in 2021-03, with the labels that each got.

#14 2021 robot setup
  src/main/cpp/Movement/DriveTrainManager.cpp
  src/main/cpp/Robot.cpp
  src/main/include/Movement/DriveTrainManager.hpp
  src/main/include/Robot.h
  vendordeps/Phoenix.json
Labels: drivetrain, movement, robot

#23 Initial Hopper code
  src/main/cpp/Movement/DriveTrainManager.cpp
  src/main/cpp/Movement/Hopper.cpp
  src/main/cpp/Robot.cpp
  src/main/include/Movement/Hopper.hpp
  src/main/include/Robot.h
Labels: drivetrain, hopper, movement, robot

#25 Compressor
  src/main/cpp/Robot.cpp
  src/main/include/Robot.h
Labels: robot

#26 Alex turret done
  src/main/cpp/Robot.cpp
  src/main/include/Robot.h
Labels: robot

#27 New hopper motor
  .vscode/settings.json
  src/main/cpp/Movement/Hopper.cpp
  src/main/cpp/Robot.cpp
  src/main/include/Movement/Hopper.hpp
  src/main/include/Robot.h
Labels: hopper, movement, robot
